.form-section {
    min-height: 100vh;
}

.form {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 50px 60px;
    border-radius: 5px;
    margin-top: 24px;
}

.form-title {
    color: #403F3F;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.form-check-input:checked {
    background-color: #403F3F !important;
    border-color: #403F3F !important;
}